@import "tailwindcss";

:root {
  /* 定義你的顏色變數 */
  --primary-brown: #53410f;
  --bg-gray: #f8f8f8;
  --bar-red: #D61518;
  --bg-yellow: #F9F0DC;
  --font-main: 'Swei Sans CJK JP', "Noto Sans JP", sans-serif;
  --text-red:#C81F19;
}

/* @font-face {
  font-family: 'Swei Sans CJK JP';
  src: url("https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.068/WebFont/CJK%20JP/SweiSansCJKjp-Regular.woff2")
       format("woff2");
  font-style:normal;
  font-weight:normal;
  font-display:block;
} */
/* @font-face {
  font-family: 'Swei Sans CJK JP';
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-sans@2.102/WebFont/CJK%20JP/SweiSansCJKjp-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-sans@2.102/WebFont/CJK%20JP/SweiSansCJKjp-Regular.woff) format("woff");
  font-weight:normal;
  font-style: normal;
font-display:block;
} */
@font-face {
  font-family: 'Swei Sans CJK JPP';
  src: url('/fonts/SweiSansCJKjp-Medium.woff2') format('woff2');
  font-style: medium;
  font-weight:medium;
  font-display:swap;
}

body {
  font-family: var(--font-main);
}